<!DOCTYPE html>
<html>
    <head>
        <title>Detalle del Producto</title>
    </head>
    <body>
        <div class="container">
            <h3><a href="/productos">Lista de Productos</a></h3>
            <h1>Detalle del Producto</h1>
            <table>
                <tbody>
                    <tr>
                        <td>Nombre</td>
                        <td>{{ producto.nombre }}</td>
                    </tr>
                    <tr>
                        <td>Cantidad</td>
                        <td>{{ producto.cantidad }}</td>
                    </tr>
                    <tr>
                        <td>Precio</td>
                        <td>{{ producto.precio }}</td>
                    </tr>
                    <td>Descripcion</td>
                        <td>{{ producto.descripcion }}</td>
                    </tr>
                </tbody>
            </table>
            <h3><a href="/productos/edit/{{ producto._id }}">EDIT</a></h3>
            <form action="/productos/delete/{{ producto._id }}" method="post">
                <button type="submit">DELETE</button>
            </form>
        </div>
    </body>
</html>
